*{
  box-sizing:border-box;
}

body{
  background-image: url("immagini/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* CONTENITORE SEMITRASPARENTE */
.contenitore{
margin:auto;
margin-top:25px;
width:1188px;
height:800px;
background-color:black;
border-radius:20px;
background-color: rgba(0, 0, 0, 0.5);
}

/* POSIZIONAMENTO HEADER */
header{
text-align:center;
padding-top:106px;
}

/* DIMENSIONI LOGO  */
header > img{
  width: 247px;
}

/* SLOGAN BRAND */
header > h2{
margin-top:0px;
color:rgb(0,221,0);
font-family:Helvetica;
}

/* BARRA PRENOTAZIONE */
nav{
  width:943px;
  height:40px;
  margin:auto;
  background-color:rgb(0,221,0);
  text-align: center;
  padding-top:10px;
}

/* SEZIONE MONOPATTINI */
main{
  width:943px;
  margin:auto;
  color:white;
  font-family:Helvetica;
}

/* RIDUZIONE MARGINE SOTTOSTANTE NOMI MONOPATTINI */
main > h2 {
  margin-bottom:9px;
}

/* BASE STYLING BATTERIA */
main > div{
  height:27px;
  border-radius:5px;

}
/* INIZIO STYLING INFO BATTERIA */
main > div.min{
  width:130px;
  background-color:red;
}

main > div.med{
  width:370px;
  background-color:orange;
}

main > div.max{
  width:700px;
  background-color:green;
}
/* FINE STYLING INFO BATTERIA  */
